@import url("https://fonts.googleapis.com/css2?family=Nokora:wght@100;400;700;900&display=swap");

#root {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
}

body {
  margin: 0;
  background-color: #ece6ff;
  font-family: "Nokora", sans-serif;
  overflow: hidden;
  scroll-behavior: initial;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav li {
  display: inline-flex;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #4F46E5;
}

a {
  text-decoration: none;
  color: #4F46E5;
}

a:hover {
  color: #161616;
}

.social {
  position: absolute;
  right: 0;
  display: flex;
  right: 2;
  padding-top: 1rem;
}

.git {
  background-image: url("/images/github-mark-white.png");
  width: 4rem;
  height: 4rem;
  background-size: cover;
  margin-left: 0.5rem;
  opacity:0.6;

}

.insta {
  background-image: url("/images/insta.png");
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-size: cover;
  margin-right: 0.8rem;
  
}

.link {
  background-image: url("/images/link.png");
  width: 3.5rem;
  height: 3.5rem;
  margin-top:0.5rem;
  background-size: cover;
 
}

h1 {
  color: #1a365f;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5rem;
  padding-top: 2;
  margin-bottom: 0;
  padding: 0;
}

span {
  padding: 1.5rem;
  font-size: 1.2rem;
}

button {
  margin-left: 1rem;
  padding: 1rem;
  outline: none;
  border: 1px solid #8684FF;
  border-radius: 0.5rem;
  color: #ddf5ff;
  font-size: 1rem;
  margin-top: 2rem;
  background:  #8684FF;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}


button:hover {
  background-color: #4F46E5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 8px #4F46E5;
}
h5 {
  display: none;
}
.loader {
  text-align: center;
  padding-top: 5rem;
}
.react {
  background-image: url('/images/react-inro.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  position: absolute;
  opacity: 0.3;
  margin-left: 36vw;
  animation: rotateAnimation 5s linear infinite;
  z-index: -10;
}
.logos{
  position: absolute;
  top: 1rem;
  right: 6rem;
  z-index: 0;
  animation: rotateAnimation 15s linear infinite;
}
.logos div{
  box-shadow: 0 2px 8px #4F46E5;
 
}
.logos div div{
  box-shadow: 0 2px 8px #4F46E5;

 
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  color:  #4F46E5;
  font-size: medium;
  font-weight: 400;
}

h3 {
  color:  #4F46E5;
  font-size: 2rem;
  margin-top: 0;
  font-weight: 100;
}

.grid1 {
  height: 74vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-left: 4rem;
}

.grid2 {
  height: 74vh;
  display: grid;
  grid-template-columns: repeat(2, 0.4fr);
  grid-gap: 5px;
  margin-left: 4rem;
}

.grid1 div,
.grid2 div {
  background-color: #020817;
  height: 15rem;
  width: 28em;
  border-radius: 0.5rem;
}

.grid1 div:hover,
.grid2 div:hover {
  scale: 1.01;
  box-shadow: 0 0 6px rgb(148, 144, 206);
  border: 0.5px solid rgb(135, 94, 182);
  cursor: pointer;
}

.grid1 .item1 {
  background-image: url("/images/form.png");

  background-size: cover;
}

.grid1 .item2 {
  background-image: url("/images/dbu.PNG");
  background-size: cover;
}

.grid1 .item3 {
  background-image: url("/images/notes.png");
  background-size: cover;
}

.grid1 .item4 {
  background-image: url("/images/fd.png");
  background-size: cover;
}

.grid1 .item5 {
  background-image: url("/images/spice.png");
  background-size: cover;
}

.grid1 .item6 {
  background-image: url("/images/cont.png");
  background-size: cover;
}

.grid1 .item7 {
  background-image: url("/images/kb.png");
  background-size: cover;
}

.grid1 .item8 {
  background-image: url("/images/db.png");
  background-size: cover;
}

.grid1 .item9 {
  background-image: url("/images/weather.png");
  background-size: cover;
}

.grid1 .item10 {
  background-image: url("/images/cur.png");
  background-size: cover;
}

.grid1 .item11 {
  background-image: url("/images/node.png");
  background-size: cover;
}

.grid1 .item12 {
  background-image: url("/images/tik.png");
  background-size: cover;
}
.grid1 .item13 {
  background-image: url("/images/chat.png");
  background-size: cover;
}
.grid1 .item14 {
  background-image: url("/images/tele.png");
  background-size: cover;
}
.grid1 .item15 {
  background-image: url("/images/edit.png");
  background-size: cover;
}
.grid1 .item16 {
  background-image: url("/images/typography.png");
  background-size: cover;
}

.grid2 .item1 {
  background-image: url("/images/tea.png");
  background-size: cover;
}

.grid2 .item2 {
  background-image: url("/images/fav.png");
  background-size: cover;
}

.grid2 .item3 {
  background-image: url("/images/gru.png");
  background-size: cover;
}

.grid2 .item4 {
  background-image: url("/images/rea.png");
  background-size: cover;
}

p {
  font-weight: lighter;
  color:  #4F46E5;
}

.design {
  display: flex;
}

.details {
  padding: 1rem;

}

.next {
  font-size: 1rem;
  position: absolute;
  right: 20vw;
  bottom: 5rem;
}

.img {
  z-index: -10;
}

.greeting {
  display: flex;
  height: 75vh;
  background-size: clip;
  background-repeat: no-repeat;
}

.greet-text {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 4em;

  width: 60vw;
}

.canvas {
  height: 72vh;
  margin-left: 3rem;
}
.canvas:hover {
 cursor: pointer;;
}
.avt {
  margin-top: 1rem;
  margin-left: 2rem;
  width: 50vw;
  z-index:10;
}

/* Add the animation keyframes for color gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 1250px) {
  .avt{
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  body {
    overflow-y: scroll;
    height: 90vh;
    overflow-x: hidden;
  }
  h5 {
    display: block;
    color: #3cfffc;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .react {
    margin-left: 15vw;
  }
  .avt {
    display: none;
  }

  .nav {
    display: flex;
    justify-content: space-around;
  }

  span {
    width: 50vw;
  }

  li {
    padding-top: 0.5rem;
  }

  .loader h3 {
    display: none;
  }
  .grid1,
  .grid2 {
    margin-top: 3rem;
    display: block;
    margin-left: 0;
    height: 105vh;
  }

  .grid1 div,
  .grid2 div {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 90vw;
  }

  .footer {
    display: flex;
  }

  .greet-text h1 {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
    padding: 0;
    font-size: 2rem;
    margin: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .greet-text {
    width: 90vw;
    margin: 1rem;
    padding: 0;
    padding-top: 4rem;
  }

  .greet-text h3 {
    margin-left: 1rem;
  }

  .next {
    position: absolute;
    top: 5vh;
    left: 0.8rem;
    height: 3rem;
    width: 10rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .grid div{
    width: 90vw;
  }

  .details {
    display: none;
  }

  .loader {
    width: 90vw;
  }

  button, .footer {
    max-width: 30vw;
    padding: 0.4rem;
 
  }

  .footer {
    
    margin-top: 10vh;
    height: 1rem;
   
    
  }
 
  .canvas {
    margin-left: 1rem;
  }
 
}

